body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* styles.css */

/* Custom styles for the chat box */
.chat-container {
    width: 80%;
    margin: 20px auto;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    background-color: #f0f0f0;
}
.pic{
    display: flex;
    justify-content: center;
    height : 100px;
}
.chat {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-content: end;
}

#message-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

#send-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
